.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  margin: 89px 0;

  span {
    color: #ff6060;
    text-align: center;
    font-size: 288px;
    font-family: Montserrat;
    font-weight: 700;
  }

  p {
    color: #ff6060;
    font-size: var(--fs-l);
    font-family: Montserrat;
    font-weight: 500;
    line-height: 142.6%;
    text-align: center;
  }

  a {
    color: #ff6060;
    font-size: var(--fs-sm);
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
  }
}

@media (max-width: 767.98px) {
  .page-404 {
    gap: 113px;
    margin: 113px 0;
    span {
      font-size: 96px;
    }

    p {
      text-align: center;
    }

    a {
      font-size: 14px;
    }
  }
}
