.carrousel {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;

  button {
    border: none;
    background: none;
    color: white;
    font-size: 80px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
  .carrousel-navigation {
    position: absolute;
    bottom: 160px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .carrousel-counter {
    position: absolute;
    font-weight: 500;
    align-self: center;
    left: 50%;
    top: 200px;
    color: white;
  }
}

.carrousel-container {
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  display: flex;
}

@media (max-width: 767.98px) {
  .carrousel {
    height: 255px;
    border-radius: 10px;

    button {
      font-size: 40px;
    }
    .carrousel-navigation {
      bottom: 100px;
    }
    .carrousel-counter {
      display: none;
    }
  }
}
