.tag {
  padding: 5px 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: $primary;
  text-align: center;

  span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767.98px) {
  .tag {
    span {
      font-size: 10px;
    }
  }
}
