header {
  display: flex;
  padding: 45px 20px 50px 20px;
  max-width: $max-screen-lg;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
      gap: 57px;
      align-items: center;
    }

    li {
      list-style: none;
      a {
        color: $primary;
        text-decoration: none;
        font-size: var(--fs-m);

        &:hover,
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  header {
    align-items: center;
    padding: 20px 20px 27px 20px;

    img {
      width: 140px;
    }
    nav ul {
      gap: 26px;

      li a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
